@media (max-width: 735px){
        
    :root{
        --color-primary: #f7decb;
        --color-secondary: #9c7561;
        --color-third: #6f4c3b;
        --color-fourth: #f8c7bb;
        --color-erro-sugestao: #e42f29;
        --color-acerto-sugestao: #15ff00;
        --color-padrao-sugestao: #4c4c4c;
    }
    
    body{
        display: flex;
        flex-direction: column;
        width: 100vw;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        color: var(--color-third);
    }

    body::-webkit-scrollbar {
        width: 8px;
    }
    body::-webkit-scrollbar-track {
        background: var(--color-third);
        border-radius: 10px;
    }
    body::-webkit-scrollbar-thumb {
        background-color: var(--color-secondary);
        border-radius: 10px;
        border: 2px solid var(--color-third);
    }
    body::-webkit-scrollbar-thumb:active {
        background-color: var(--color-fourth); 
    }
    
    header{
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 1vh;
        padding-inline: 5vh;
        background-color: var(--color-secondary);
        color: var(--color-primary);
    }
    header div{
        display: flex;
        flex-direction: column;
    }

    main{
        display: flex;
        flex-direction: column;
        flex: 1;
        max-height: auto;
    }
    
    .corpo{
        display: flex;
        flex-direction: column;
    }
    .linha{
        min-height: 1px;
        height: 0.5vw;
        max-height: 3px;
        width: 100%;
        left: calc(20% + 10px);
    }
    
    .pricipal{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        padding-inline: 1%;
        overflow: hidden;
    }
    
    .atributos{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 5px;
    }
    
    .caixaAtributos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding-inline: 5px;
        flex-basis: calc(25% - 5px);
        max-width: calc(25% - 5px);
    }
    .MaxAttribute{
        width: 100%;
        height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    .MaxAttribute::-webkit-scrollbar {
        width: 8px;
    }
    .MaxAttribute::-webkit-scrollbar-track {
        background: var(--color-third);
        border-radius: 10px;
    }
    .MaxAttribute::-webkit-scrollbar-thumb {
        background-color: var(--color-secondary);
        border-radius: 10px;
        border: 2px solid var(--color-third);
    }
    .MaxAttribute::-webkit-scrollbar-thumb:active {
        background-color: var(--color-fourth); 
    }
    
    .atributo{
        min-width: 100px;
        min-height: 20px;
        max-height: 50px;
        width: 90%;
        border-radius: 50px;
        padding: 6px;
        background-color: var(--color-third);
        margin: 20px;
        color: var(--color-primary);
        text-align: center;
        border: 2px solid;
    }
    
    .buttonArea{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        gap: 4px;
        padding: 10px;
        overflow-y: hidden;
        overflow-x: auto;
    }
    
    .playArea {
        height: 50%;
        padding: 5px;
        margin: 1vw;
    }
    
    .choiceArea {
        display: flex;
        flex-direction: row;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 5px;
        padding: 5px;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    
    .label-select {
        display: flex;
    }
    #label-selectstarting, #label-selectfinal{
        width: 40%;
    }
    #label-selectMovie{
        width: 90%;
    }
    #MovieGenre{
        width: 100px;
    }
    
    .play{
        animation: indicativo 2s infinite;
    }

    

}