@media (max-width: 735px){

    :root{
        --color-primary: #f7decb;
        --color-secondary: #9c7561;
        --color-third: #6f4c3b;
        --color-fourth: #f8c7bb;
        --color-erro-sugestao: #e42f29;
        --color-acerto-sugestao: #15ff00;
        --color-padrao-sugestao: #4c4c4c;
    }
    
    body{
        height: auto;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
    }

    body::-webkit-scrollbar {
        width: 8px;
    }
    body::-webkit-scrollbar-track {
        background: var(--color-third);
        border-radius: 10px;
    }
    body::-webkit-scrollbar-thumb {
        background-color: var(--color-secondary);
        border-radius: 10px;
        border: 2px solid var(--color-third);
    }
    body::-webkit-scrollbar-thumb:active {
        background-color: var(--color-fourth); 
    }

    header{
        position:sticky;
        top: -5px;
        z-index: 3;
        height: calc(10vh + 35px);
        width: 100%;
        flex-wrap: wrap-reverse;
        padding-inline: 3vh;
    }

    header div{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .escolha{
        width: 100%;
        text-align: center;
        transition: 0.5s;
    }
    .onButton{
        height: 30px;
        width: 100%;
    }

    main{
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 100vh;
        height: auto;
        max-height: none;
    }

    .corpo{
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        padding-inline: 10px;
        padding-block: 5px;
        display: flex;
        position: relative;
        align-items: center;
    }

    .linha{
        display: none;
    }
    .buttonArea{
        width: 100%;
        height: auto;
        border-bottom: 2px solid var(--color-third);
    }

    .pricipal{
        width: 100%;
    }

    .atributos{
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 50%));
        width: 100%;
    }
}