*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

ul, ol, li{
  list-style: none;
}
button{
  border: none;
  cursor: pointer;
}
input{
  border: none;
  outline: none;
}


:root{
  --color-primary: #f7decb;
  --color-secondary: #9c7561;
  --color-third: #6f4c3b;
  --color-fourth: #f8c7bb;
  --color-erro-sugestao: #e42f29;
  --color-acerto-sugestao: #15ff00;
  --color-padrao-sugestao: #4c4c4c;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  color: var(--color-third);
}

.instructionButton{
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 1px solid var(--color-fourth);
  border-radius: 10px;
  box-shadow: 10px 10px 10px var(--color-third);
  min-width: 300px;
  width: 60vw;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1vh;
  padding-inline: 5vh;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
header div{
  display: flex;
}

.onButton{
  background-color: var(--color-primary);
  width: 5%;
  color: var(--color-secondary);
  padding-block: 4px;
  padding-inline: 5px;
  border-radius: 2px;
  transition: 0.5s;
}
.onButton:hover{
  transform: scale(1.2);
  border-radius: 6px;
}

/*
input
*/

.search-container {
  position: relative;
  width: 400px;
}

.escolha{
  width: 100%;
  padding-inline: 10px;
  font-size: 16px;
  background-color: transparent;
  border-bottom: 1px solid var(--color-primary);
  transition: 0.5s;
  color: var(--color-primary);
}

.escolha::placeholder{
  color: var(--color-fourth);
}

.suggestions {
  box-shadow: 3px 4px 5px var(--color-third);
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--color-third);
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top:100%;
  z-index: 1;
}

.suggestions div {
  padding: 10px;
  cursor: pointer;
}

.suggestions div:hover {
  background-color: var(--color-secondary);
}

.type {
  font-size: 12px;
  color: var(--color-fourth);
}

.suggestions::-webkit-scrollbar {
  width: 8px;
}

/* Estilo para o trilho da barra de rolagem */
.suggestions::-webkit-scrollbar-track {
  background: var(--color-third);
  border-radius: 10px;
}

/* Estilo para a barra de rolagem*/
.suggestions::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 10px;
  border: 2px solid var(--color-third);
}

/* Estilo para quando a rolagem está sendo (clicado ou arrastado) */
.suggestions::-webkit-scrollbar-thumb:active {
  background-color: var(--color-fourth); 
}



main{
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 85vh;
  background-color: var(--color-primary);
}

.corpo{
  width: 100%;
  height: 100%;
  padding-inline: 10px;
  padding-block: 5px;
  display: flex;
  position: relative;
  align-items: center;
}
.linha{
  min-width: 1px;
  width: 0.5vw;
  max-width: 3px;
  height: 100%;
  position: absolute;
  background-color: var(--color-secondary);
  left: calc(20% + 10px);
}

.pricipal{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-inline: 1%;
  overflow: hidden;
}

.atributos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
}

.caixaAtributos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-inline: 5px;
  flex-basis: calc(25% - 5px);
  max-width: calc(25% - 5px);
}
.MaxAttribute{
  width: 100%;
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

.MaxAttribute::-webkit-scrollbar {
  width: 8px;
}
.MaxAttribute::-webkit-scrollbar-track {
  background: var(--color-third);
  border-radius: 10px;
}
.MaxAttribute::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 10px;
  border: 2px solid var(--color-third);
}
.MaxAttribute::-webkit-scrollbar-thumb:active {
  background-color: var(--color-fourth); 
}

.atributo{
  min-width: 100px;
  min-height: 20px;
  max-height: 50px;
  width: 90%;
  border-radius: 50px;
  padding: 6px;
  background-color: var(--color-third);
  margin: 20px;
  color: var(--color-primary);
  text-align: center;
  border: 2px solid;
}

.buttonArea{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.buttonArea::-webkit-scrollbar {
  width: 8px;
}
.buttonArea::-webkit-scrollbar-track {
  background: var(--color-third);
  border-radius: 10px;
}
.buttonArea::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 10px;
  border: 2px solid var(--color-third);
}
.buttonArea::-webkit-scrollbar-thumb:active {
  background-color: var(--color-fourth); 
}

.buttonArea div{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.buttonArea button{
  background-color: var(--color-third);
  color: var(--color-primary);
  padding: 1%;
  border-radius: 50px;
}
.buttonArea button:hover{
  background-color: var(--color-secondary);
}

.playArea {
  height: 50%;
  padding: 5px;
  margin: 1vw;
}

.choiceArea {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 5px;
  padding: 5px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.label-select {
  display: flex;
}

.choiceArea select {
  width: 50px;
  background-color: var(--color-secondary);
  border-radius: 50px;
  padding: 5px;
  margin-top: 5px;
  appearance: none;
  color: var(--color-primary);
}
#label-selectstarting, #label-selectfinal{
  width: 40%;
}
#label-selectMovie{
  width: 90%;
}
#MovieGenre{
  width: 100px;
}

.choiceArea select::-webkit-scrollbar {
  width: 8px;
}
.choiceArea select::-webkit-scrollbar-track {
  background: var(--color-third);
  border-radius: 10px;
}
.choiceArea select::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 10px;
  border: 2px solid var(--color-third);
}
.choiceArea select::-webkit-scrollbar-thumb:active {
  background-color: var(--color-fourth); 
}

.play{
  animation: indicativo 2s infinite;
}
.GiveUp{
  display: none;
  justify-content: center;
}

.play:hover{
  animation: none;
}

@keyframes indicativo {
  25%{
    transform: scale(1.05);
  }
  
}


.tipBox{
  display: none;
}
.tipBox img{
  display: none;
  transition: 0.5s;
}


footer{
  height: 5vh;
  display: flex;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  align-items: center;
  justify-content: center;
}